{% extends 'base.html.twig' %}

{% block title %}Demande confirmée{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <div class="alert alert-success">
        <h3>Votre demande a bien été confirmée !</h3>
        <p>Elle est maintenant en cours de traitement par le formateur.</p>
       
    </div>
    <a href="{{ path('app_mes_demandes') }}" class="btn btn-primary mt-3">Consulter vos demandes</a>
</div>
{% endblock %}
